extends ./components/_base

append vars
    - pageTitle = "Контакты"
    - isInner = true

append content
    h1.title
        | Контакты

    .static-article-block
        p
            | Радиостанция «Like FM» - новый высокотехнологичный музыкальный радиопроект Газпром-Медиа Радио, созданный с использованием инновационного подхода к программированию радиоэфира.
        p
            | На сегодняшний день российская концепция «Like FM» не имеет аналогов в мире.
        p
            | У слушателей радиостанции появится уникальная возможность дистанционно влиять на плей-лист с помощью интерактивных средств коммуникации.
        p
            | Слоган радиостанции: «Слушай, что нравится!», означает, что в эфире будут звучать только те современные отечественные и зарубежные композици, которые действительно нравятся целевой аудитории радиостанции.

    h2.title.title_fw_normal
        | По вопросам сотрудничества

    .static-article-block
        p
            | Генеральный продюсер: <a href="mailto:serikov@likefm.ru">serikov@likefm.ru</a>
        p
            | Музыкальная редакция: <a href="mailto:muzred@likefm.ru">muzred@likefm.ru</a>
        p
            | Бренд-менеджер: <a href="mailto:akzhigitova@likefm.ru">akzhigitova@likefm.ru</a>
        p
            | Размещение рекламы: <a href="mailto:sales@gazprom-media.com">sales@gazprom-media.com</a>
        p
            | Региональное вещание: <a href="mailto:ivanov@gpmradio.ru">ivanov@gpmradio.ru</a>

    append scripts