extends ./components/_base

append vars
    - pageTitle = "Новости"
    - isInner = true

append content
    h1.title
        | Новости

    ul.news-list.list-reset
        - n = 0
        while n < 4
            li.news-list__item
                +news-article({
                    img: `news-${n + 1}.jpg`,
                    title: "В Белом зале Большого Петергофского дворца прошла презентация выставочного проекта «30 картин из жизни Петра Великого. 2022» ",
                    desc: "Он выступит и в роли режиссёра, и продюсера комедийного мини-сериала “Наш флаг означает смерть”. Сериал основан на реальных приключениях Стеда Боннета - аристократа, который отказался от своей привилегированной жизни, чтобы стать пиратом в начале XVIII века. Он купил парусник, назвал его “Месть” и путешествовал со своей командой по Восточному побережью нынешних Соединенных Штатов, захватывая и уничтожая другие корабли",
                })
            - n++

    append scripts